/* @import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
* {
    margin: 0px;
    padding: 0px;
  } */


  body{
    font-family: 'Poppins', sans-serif;
    width: 50%;
    
    /* background-image: url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg'); */
  }

  main{
    background-color: #1b1b32;
    color: white;
  }

  /* section {
    width:30em; 
    margin-left: auto;
    margin-right: auto;
} */

#survey-form {
  padding: 2.5rem;
  width: 50%;
}